
#navbar{
    display: flex;
    border: solid dodgerblue 2px;
    background-color: dodgerblue;
    color: white;
    align-items: center;
    justify-content: center;

}
img{
    width: 100px;
    height: 70px;
    border-radius: 50px;
}
a:hover{
    background-color: white;
    color: blue;
    height: 50px;
    width: 120px;
    border-radius: 20px;
}
a{
    height:50px ;
    width:120px ;
    color: white;
    text-decoration: none;
    font-size: 20PX;
    margin-left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
#card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
}
#tag-container{
    display: flex;
    justify-content: center;
    align-items: column;
}
#tag{
    height: 25px;
    background-color: lightblue;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
}
#show-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
button{
    height: 50px;
    width: 130px;
    background-color: blue;
    color: wheat;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
h2{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around;
    border: solid black 2px;
    background-color: dodgerblue;
    color: white;
    margin-top: 30px;
}
#Request{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    height: 30px;
    width: 200px;

}
form{
    border: solid black 2px;
    width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}